.styleForForm {
	padding: 5px;
}
.centerdiv {
	padding: 15px;
	text-align: center;
}

.button {
	display: inline-block;
	width: 100px;
	height: 40px;
}

.inner {
	overflow: hidden;
}

.inner img {
	transition: all 1.5s ease;
}

.inner:hover img {
	transform: scale(1.1);
}

.button {
	display: inline-block;
	width: 100px;
	height: 40px;
}
